<div class="container text-center">

        <div>
            <h2 class="m-4">
                Дизайнер 3D Визуализатор<br />
                Анастасия Ермакова
            </h2>
            <h1 class="block_text m-4">
                Создаю интерьеры, в которых хочется жить.
            </h1>
        </div>
        <div>
            <a asp-controller="Home" asp-action="Order" class="btn btn-lg btn-danger px-4">Заказать проект</a>
        </div>

        <img class="img-fluid mt-2" alt="Responsive image" src="~/img/nastaSolo.jpg" />

</div>
