@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="divMargen">
        <div class="container">
            <div class="row">
                <div class="col-md col-lg-6 mb-2">
                    <img class="img-thumbnail" alt="Responsive image" src="~/img/createDisaner.jpg" />
                    <div class="text-center block_text">
                        <h3 class="block_text">Создаем современный дизайн. 10 шагов</h3>
                        <a href="https://drive.google.com/file/d/1ljlucDK5cjBJ4OE_ir0JotPX_OMyG3Yf/view" class="btn btn-dark btn-lg px-4 me-sm-3">Скачать чек лист</a>
                    </div>
                </div>
                <div class="col-md col-lg-6 mb-2">
                    <img class="img-thumbnail" alt="Responsive image" src="~/img/updateDisaner.jpg" style="height: auto" />
                    <div class="text-center">
                        <h3 class="block_text">Преображаем интерьер без больших вложений</h3>
                        <a href="https://drive.google.com/file/d/126qw0N6AoSUTfO7t99FDth_c5YMeNPcF/view?usp=sharing" class="btn btn-dark btn-lg px-4 me-sm-3">Скачать чек лист</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="divMargen">
        <h1 class="text-center block_text">Чем я могу Вам помочь?</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="~/img/click.png" />
                    <h2 class="block_text">Концепция дизайна</h2>
                    <p>Создам концепцию дизайна интерьера по вашим пожеланиям</p>
                </div>
                <div class="col-md-6">
                    <img src="~/img/monitor.png" />
                    <h2 class="block_text">Визуализация интерьера</h2>
                    <p>Беру на себя всю работу по 3D визуализации, экономлю ваши силы и время</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img src="~/img/key.png" />
                    <h2 class="block_text">Подбор материалов</h2>
                    <p>Список и смета отделочных материалов, оборудования и мебели, которые будут присутствовать в интерьере</p>
                </div>
                <div class="col-md-6">
                    <img src="~/img/raceta.png" />
                    <h2 class="block_text">Сотрудничество</h2>
                    <p>
                        Сотрудничаю с дизайнерами интерьеров. Проектирую и создаю ваш личный дизайн
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="divMargen">
        <h1 class="text-center block_text">Этапы работы</h1>

        <div id="slider" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#slider" data-slide-to="0" class="active"></li>
                <li data-target="#slider" data-slide-to="1"></li>
                <li data-target="#slider" data-slide-to="2"></li>
                <li data-target="#slider" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="sliderDiv">
                        <h1 class="block_text">1. Согласование технического задания</h1>
                        <p>
                            Вы отправляете техническое задание,
                            информацию по стилю и цветовой гамме по Вашему проекту, согласовываем сроки выполнения работы, её стоимость и обсуждаем все важные моменты
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="sliderDiv">
                        <h1 class="block_text">2. Предоплата</h1>
                        <p>
                            Если Вас всё устраивает, то Вы вносите предоплату 50% и я приступаю к выполнению заказа
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="sliderDiv">
                        <h1 class="block_text">3. Предоплата</h1>
                        <p>
                            До того как отрендерить финальные изображения мы согласовываем промежуточные варианты на черновиках.<br />
                            На этом этапе вносится максимально возможное количество корректировок в рамках ТЗ (корректируется мелкий объём, расположение, текстуры и цвета, в сумме не более 20% от первоначального ТЗ). Правки включены в стоимость
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="sliderDiv">
                        <h1 class="block_text">4. Финальные рендеры и оплата</h1>
                        <p>
                            После окончательного утверждения и полной оплаты я подготавливаю финальные изображения. В интерьерной визуализации, как правило, это 3-5 ракурсов на комнаты средних размеров и 2 ракурса на маленькие (сан.узлы, гардеробы, балконы).<br />
                            После согласования и получения финальных рендеров правки вносятся за дополнительную стоимость.
                        </p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#slider" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#slider" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="divMargen">
        <h1 class="text-center m-5 block_text">Дизайн-проект интерьера</h1>
        <div class="container">
            @*<div class="row mb-1">
                <div class="col-TODP">
                    <img class="img-thumbnail" alt="Responsive image" src="~/img/firstMeed.jpg" />
                </div>
                <div class="col">
                    <h3 class="block_text">Первая встреча</h3>
                    <p>
                        Первая встреча - ознакомительная и бесплатная. На ней я покажу пример своего проекта, расскажу, каким образом строится работа над проектом от и до.<br />
                        Вы расскажете мне свои пожелания, и мы с вами определимся с необходимым объемом работ.<br />
                        После этой встречи можно будет сделать выводы о том, насколько хорошо мы друг друга понимаем, и уже затем принимать решение о дальнейшем сотрудничестве.
                    </p>
                </div>
                
            </div>*@
            <div class="row mb-1">
                <div class="col-TODP">
                    <img class="img-thumbnail" alt="Responsive image" src="~/img/firstMeed.jpg" />
                </div>
                <div class="col">
                    <h3 class="block_text">Первая встреча</h3>
                    <p>
                        Первая встреча - ознакомительная и бесплатная. На ней я покажу пример своего проекта, расскажу, каким образом строится работа над проектом от и до.<br />
                        Вы расскажете мне свои пожелания, и мы с вами определимся с необходимым объемом работ.<br />
                        После этой встречи можно будет сделать выводы о том, насколько хорошо мы друг друга понимаем, и уже затем принимать решение о дальнейшем сотрудничестве.
                    </p>
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-TODP">
                    <img class="img-thumbnail" alt="Responsive image" src="~/img/firstSentens.jpg" />
                </div>
                <div class="col">
                    <h3 class="block_text">Предпроектное предложение</h3>
                    <p>
                        После заключения договора я выезжаю на объект, где провожу замеры и делаю фотофиксацию всех коммуникаций, узлов и элементов, или вы присылаете ТЗ онлайн.<br />
                        Мы обсуждаем и фиксируем всю необходимую информацию: исходные данные об объекте проектирования, ваши предпочтения по функциональному наполнению, стилистике и цветовой гамме.<br />
                        На основе этих данных, в течении 5-7 рабочих дней, я разрабатываю 2-3 варианта планировочного решения, которые раскроют возможности вашей квартиры или дома. Перед тем, как начать 3d визуализацию,
                        я делаю коллажи с примерным подбором цветовой гаммы, мебели, текстурами и отделочными материалами - мудборды.<br />
                        Далее мы обсуждаем с вами конечные планировки и согласовываем итоговый вариант.
                    </p>
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-TODP">
                    <img class="img-thumbnail" alt="Responsive image" src="~/img/worksDociments.jpg" />
                </div>
                <div class="col">
                    <h3 class="block_text">Рабочая документация</h3>
                    <p>
                        На данном этапе составляются чертежи и планы необходимые для строительных работ.<br />
                        В рабочую документацию НЕ входит инженерия: вентиляция и кондиционирование, умный дом, проект прокладки электрических кабелей,
                        расчет отопления, манипуляции с газом, пожарная безопасность, видеонаблюдение. Архитектурные расчеты, такие как: проектирование лестниц,
                        окон, расчет нагрузки несущих стен и др. также в проект не входят.
                    </p>
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-TODP">
                    <img class="img-thumbnail" alt="Responsive image" src="~/img/view.jpg" />
                </div>
                <div class="col">
                    <h3 class="block_text">3D Визуализация</h3>
                    <p>
                        Предварительно разрабатывается концепция будущего интерьера, в которой описана основная идея проекта. На данном этапе я показываю настроение вашей комнаты, ее стиль, цветовую гамму,
                        какие-то конкретные предметы мебели и светильники, с возможным указанием цен.<br />
                        Затем, на основе итогового варианта планировки и концепции, я приступаю к объемным 3D эскизам. Это трехмерная визуализация помещений с разных ракурсов.<br />
                        Здесь продумываются конструктивные узлы, основные детали интерьера, решения по освещению. Это этап дает понимание, того каким будет ваш будущий интерьер.
                    </p>
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-TODP">
                    <img class="img-thumbnail" alt="Responsive image" src="~/img/chouseMaterials.jpg" />
                </div>
                <div class="col">
                    <h3 class="block_text">Подбор материялов</h3>
                    <p>
                        Это заключительный этап работы над интерьером, после которого у вас на руках будет все необходимое для воплощения проекта в жизнь.<br />
                        Вы получаете пакет необходимых чертежей, мудборды, 3d визуализации вашего интерьера и спецификацию по всем чистовым отделочным материалам,
                        освещению, сантехнике, мебели, дверям, предметам декора с указанием коллекции, артикулов.
                    </p>
                </div>
            </div>
        </div>
    </div>
    @*<div class="divMargen">
        <h1 class="text-center m-5">Вопрос - Ответ</h1>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <h5>Возможен ли частичный проект?</h5>
                    <p>
                        Частичные, сокращенные или экспресс-проекты не закрывают многих вопросов. Да, с одной стороны вы экономите средства на разработку проектной части.
                        Но такая ли это экономия на самом деле? Столкнувшись с ремонтом один на один, вам придется решать сотни вопросов самостоятельно,
                        т.к в проекте они были не отражены.
                    </p>
                   
                    <img src="img/nastaSoloCircle.jpg" class="imageEx rounded-circle ">

                </div>
                <div class="col-4">
                    <h5>Сроки разработки проекта.</h5>
                    <p>
                        Я работаю последовательно и поэтапно. Не разрабатываю проект параллельно стройке, и не выдаю заранее отдельные чертежи.<br /><br />
                        В среднем на площадь 100 кв.м. уходит от 3х месяцев, без учета времени на согласование с вашей стороны (может быть и 4 месяца).
                    </p>
                    <img src="img/nastaAndBmwCircle.jpg" class="imageEx rounded-circle ">
                </div>
                <div class="col-4">
                    <h5>Сроки реализации проекта.</h5>
                    <p>
                        Если взять также квартиру в 100 кв.м. это примерно 7-9 месяцев строительных работ.<br /><br />
                        Сроки ремонта зависят от сложности проекта, от выбранных материалов и сроков их поставки.
                    </p>
                    <img src="img/footsCircle.jpg" class="imageEx rounded-circle ">
                </div>
            </div>
        </div>
    </div>*@
</div>