<div class="container">
    <div class="row mb-1">
        <div class="col-TODP text-center">
            <img class="img-thumbnail imgOrfer" alt="Responsive image" src="~/img/nastaWork.png"/>
        </div>
        <div class="col text-center divTODP">
            <div class="divTODPTxt">
                <h3 class="block_text">Мотивирую на ремонт без скандала</h3>
                <p class="block_text text-left">
                    Проектирую интерьеры с душой и теплом, не придерживаюсь единого стиля в работе, нахожу к каждому клиенту индивидуальный подход.<br />
                    Для меня очень важна история семьи, ее быт, увлечения, отличительные черты, для того чтобы создать пространство для жизни под Вас, интерьер с характером, настроением и любовью!
                </p>
            </div>
            <div class="divTODPBtn text-center align-item-center">
                <h5 class="block_text text-danger">Бесплатная консультация дизайнера!</h5>
                <div class="row text-center">
                    <div class="col m-2">
                        <a href="https://t.me/anastasyerm" class="btn btn-lg btn-info px-4">Telegram</a>
                    </div>
                    <div class="col m-2">
                        <a href="https://api.whatsapp.com/send/?phone=%2B79851614216&text&app_absent=0" class="btn  btn-lg btn-success px-4">WhatsApp</a>
                    </div>
                    <div class="col m-2">
                        <a href="https://www.instagram.com/3d_anastasyerm/" class="btn  btn-lg btn-dark px-4">Instagram</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

