

<div class="container">
    @*<div class="row">
        <div class="col text-center">
            <h1 class="block_text">
                ВИДЫ ДИЗАЙН-ПРОЕКТОВ
            </h1>
            <h3 class="block_text">
                Цены варьируют в зависимости от стилей<br /> и сложности интерьерных решений
            </h3>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-TODP p-4 m-1 border border-dark divTODP">
            <div class="divTODPTxt">
                <h4 class="font-weight-bold text-center block_text">3D Визуализация<br /><br /></h4>
                <h3 class="font-weight-bold text-center block_text">от 500р/м2<br /></h3>
                <p class="text-sm-left m-2 ">Реалистичные 3d визуализации по готовым планам</p>
            </div>
            <div class="divTODPBtn text-center">
                <a asp-controller="Home" asp-action="Order" class="btn btn-lg btn-dark px-4">Связаться</a>
            </div>
        </div>
        <div class="col-TODP p-4 m-1 border border-dark divTODP">
            <div class="divTODPTxt">
                <h4 class="font-weight-bold text-center block_text">3D Визуализация с концепцией дизайная<br /></h4>
                <h3 class="font-weight-bold text-center block_text">от 700р/м2<br /></h3>
                <p class="text-sm-left m-2">
                    Реалистичные 3d визуализации по готовым планам + эскизные
                    визуализации (коллажи) с примерным подбором цветовой гаммы,
                    мебели, текстурами и отделочными материалами
                </p>
            </div>
            <div class="divTODPBtn text-center">
                <a asp-controller="Home" asp-action="Order" class="btn btn-lg btn-dark px-4">Связаться</a>
            </div>
        </div>
        <div class="col-TODP p-4 m-1 border border-dark divTODP">
            <div class="divTODPTxt">
                <h4 class="font-weight-bold text-center block_text">Полный дизайн-проект<br /><br /></h4>
                <h3 class="font-weight-bold text-center block_text">от 1000р/м2<br /></h3>
                <p class="text-sm-left m-2">
                    Строительные чертежи
                    Эскизные визуализации
                    Реалистичные 3d визуализации
                    Смета по мебели, освещению, чистовым отделочным материалам, декору
                </p>
            </div>
            <div class="divTODPBtn text-center">
                <a asp-controller="Home" asp-action="Order" class="btn btn-lg btn-dark px-4">Связаться</a>
            </div>
        </div>
    </div>
    <div class="border border-dark row mb-5">
        <div class="col divTODP">
            <div class="divTODPTxt">
                <h4 class="font-weight-bold text-center block_text">Авторский надзор<br /></h4>
                <h3 class="font-weight-bold text-center block_text text-danger">В ПОДАРОК<br /></h3>
                <p class="text-sm-left m-2">
                    <ul>
                        <li>Консультирую строителей, проверяю соответствие проекта рабочим чертежам, а также контролирую качество выполняемых работ на объекте</li>
                        <li>При необходимости вношу изменения и дополнения в разработанный ранее дизайн-проект</li>
                        <li>Координирую поставщиков и строителей</li>
                        <li>Если объект находится в пределах Москвы и Московской обл, выезжаю на объект</li>
                    </ul>
                </p>
            </div>
            <div class="divTODPBtn text-center m-2">
                <a asp-controller="Home" asp-action="Order" class="btn btn-lg btn-dark px-4">Забрать подарок</a>
            </div>
        </div>
    </div>*@

    <div class="row">
        <div class="col p-1 divTODP mt-3 mb-3 divTODP border-bottom border-dark">
            <div class="divTODPTxt">
                <h4 class="font-weight-bold text-center block_text">3D Визуализация<br /><br /></h4>
                <h3 class="font-weight-bold text-center block_text">от 500р/м2<br /></h3>
                <p class="text-sm-left m-2 ">Реалистичные 3d визуализации по готовым планам</p>
            </div>
            <div class="divTODPBtn text-center">
                <a asp-controller="Home" asp-action="Order" class="btn btn-lg btn-dark px-4">Связаться</a>
            </div>
        </div>
        <div class="col p-1 mt-3 mb-3 divTODP border-dark  border-bottom">
            <div class="divTODPTxt">
                <h4 class="font-weight-bold text-center block_text">3D Визуализация с концепцией дизайная<br /></h4>
                <h3 class="font-weight-bold text-center block_text">от 700р/м2<br /></h3>
                <p class="text-sm-left m-2">
                    Реалистичные 3d визуализации по готовым планам + эскизные
                    визуализации (коллажи) с примерным подбором цветовой гаммы,
                    мебели, текстурами и отделочными материалами
                </p>
            </div>
            <div class="divTODPBtn text-center">
                <a asp-controller="Home" asp-action="Order" class="btn btn-lg btn-dark px-4">Связаться</a>
            </div>
        </div>
        <div class="col p-1  mt-3 mb-3 divTODP border-dark border-bottom">
            <div class="divTODPTxt">
                <h4 class="font-weight-bold text-center block_text">Полный дизайн-проект<br /><br /></h4>
                <h3 class="font-weight-bold text-center block_text">от 1000р/м2<br /></h3>
                <p class="text-sm-left m-2">
                    Строительные чертежи
                    Эскизные визуализации
                    Реалистичные 3d визуализации
                    Смета по мебели, освещению, чистовым отделочным материалам, декору
                </p>
            </div>
            <div class="divTODPBtn text-center">
                <a asp-controller="Home" asp-action="Order" class="btn btn-lg btn-dark px-4">Связаться</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col p-1" style="left:2px;">
            <div class="col divTODP">
                <div class="divTODPTxt">
                    <h4 class="font-weight-bold text-center block_text">Авторский надзор<br /></h4>
                    <h3 class="font-weight-bold text-center block_text text-danger">В ПОДАРОК<br /></h3>
                    <p class="text-sm-left m-2">
                        <ul>
                            <li>Консультирую строителей, проверяю соответствие проекта рабочим чертежам, а также контролирую качество выполняемых работ на объекте</li>
                            <li>При необходимости вношу изменения и дополнения в разработанный ранее дизайн-проект</li>
                            <li>Координирую поставщиков и строителей</li>
                            <li>Если объект находится в пределах Москвы и Московской обл, выезжаю на объект</li>
                        </ul>
                    </p>
                </div>
                <div class="divTODPBtn text-center m-2">
                    <a asp-controller="Home" asp-action="Order" class="btn btn-lg btn-dark px-4">Забрать подарок</a>
                </div>
            </div>
        </div>
    </div>
</div>
