/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}*/

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/*.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}*/

.block_text {
    font-size: calc(20px + (10) * ((100vw - 320px) / 1200 -320));
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    background: #D3BCA4;
    /*margin-bottom: 60px;*/
}

body {
    display:flex;
    flex-direction:column;
}

.contanerEx {
    flex-grow: 1;
}

.divMargen {
    margin-bottom: 100px;
}

.sliderDiv {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
}
@media only screen and (max-width: 768px) {
    .sliderDiv {
        padding-left: 40px;
        padding-right: 30px;
        padding-bottom: 50px;
    }
}



.imageEx {
    float: left;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%;
}

@media only screen and (max-width: 768px) {
    .imageEx {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        height: auto;
    }
}

.textEx {
    float: right;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;

    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    /*    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;*/
}

@media only screen and (max-width: 768px) {
    .textEx {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.col-4Ex, .col-12Ex, .col-TODP {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-4Ex {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.col-12Ex {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

/*.footer {*/
    /*position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;*/ /* Vertically center the text there */
/*}*/

.col-TODP {
    -ms-flex: 0 0 32.6%;
    flex: 0 0 32.6%;
    max-width: 32.6%;
}

@media only screen and (max-width: 1200px) {
    .col-TODP {
        -ms-flex: 0 0 98%;
        flex: 0 0 98%;
        max-width: 98%;
    }
}


.divTODP {
    display: flex;
    flex-direction: column;
}
.divTODPBtn {
    flex-grow: 0
}
.divTODPTxt {
    flex-grow: 1;
}


@media only screen and (max-width: 860px) {
    .divTODP {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.imgInstagram {
    position: absolute;
    bottom: 20%;
    left: 10%;
    width: 15%;
}

@media only screen and (max-width: 1200px) {
    .imgInstagram {
        left:30%;
        width:7%;
    }
}

@media only screen and (max-width: 1200px) {
    .imgOrfer {
        width: 50%;
    }
}

.footerClr {
    background-color: #c42040;
    opacity:.9;
}


.footerInfinite {
/*    margin: 30px auto;
    border: 1px solid #000;*/
    max-width: 50%;
}

.footerInfinite div {
    display: flex;
    width: 400%;
    animation: narquee-text 5s linear infinite;
}

.footerInfinite h4 {
    white-space: nowrap;
    width: 150%;
}

@media only screen and (max-width: 1050px) {
    .footerInfinite {
        max-width: 70%;
    }
}

@media only screen and (max-width: 688px) {
    .footerInfinite {
        max-width: 100%;
    }

        .footerInfinite div {
        width:400%;
    }

    .footerInfinite h4 {
        white-space: nowrap;
        width: 200%;
    }

}

@media only screen and (max-width: 440px) {
    .footerInfinite {
        max-width: 75%;
    }

        .footerInfinite div {
            width: 800%;
        }

        .footerInfinite h4 {
            white-space: nowrap;
            width: 400%;
        }
}

@media only screen and (max-width: 300px) {
    .footerInfinite {
        max-width: 120%;
    }

        .footerInfinite div {
            width: 800%;
        }

        .footerInfinite h4 {
            white-space: nowrap;
            width: 400%;
        }
}

@keyframes narquee-text {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}